*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Creazione parte di Navigazione */
.container{
    background-color: #3161E0;
    min-height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline{
    
    display: inline-block;
    color: white;
}

.nav-box{
    background-color: #3161E0;
    width: 80%;
    display: flex;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: white;
    margin: 0 5px;
}

button{
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
}

/* Creazione primo contenitore */
.cont{
    min-height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.cont-a{
    background-color: rgb(157, 163, 39);

}

.news{
    width: 60%;
    background-color: antiquewhite;
    height: 400px;
    border: 2px solid white;

}

/* Parte Centrale */
.cont-b{
    background-color: aquamarine;
}

.cont-c{
    background-color: antiquewhite;
}

.cont-d{
    background-color: blueviolet;
}

.info{
    width: 80%;
    height: 400px;    /* andremo a togliere quando riempiremo */
    background-color: #3161E0;
    display: flex;
}

.big-box{
    flex-basis: 60%;
    background-color: white;
    border: 2px dashed black;
}

.little-box{
    flex-basis: 40%;
    background-color: grey;
    border: 2px dashed black;
}

.order{
    flex-direction: row-reverse;
}

.cont-e{
    min-height: 1200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

/* Inizio Footer */
.cont-f{
    background-color: lightskyblue;
}

.border{
    border: 2px dashed black;
}

.division-a{
    flex-basis: 30%;
}

.division-b{
    flex-basis: 17.5%;
}

.division-c{
    flex-basis: 17.5%;
}

.division-d{
    flex-basis: 17.5%;
}

.division-e{
    flex-basis: 17.5%;
}
